---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1150px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';
@import 'vendors/icons';
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

#wrapper {
	width: 100%;
	overflow: hidden;
}

.bg-stretch{
	background-position: 50% 50%;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index:0;
}

.container{
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	max-width: 1132px;
	clear: both;
}

#header{
	@extend %clearfix;
	padding: 15px 0 16px 0;
	height: 94px;
	@include media('>=desktop') {
		height: 128px;
	}
	.container{
		overflow: visible;
		@include media('>=desktop') {
			overflow: hidden;
		}
	}
}

.logo{
	display: inline-block;
	vertical-align: top;
	width: 185px;
	@include media('>=tablet') {
		width: 235px;
	}
	@include media('>=desktop') {
		width: 283px;
	}
	img{
		width: 100%;
	}
}

#nav{
	@extend %listreset;
	display: block;
	text-align: center;
	@include media('>=desktop') {
		letter-spacing: 0.6px;
		padding-top: 39px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	li{
		display: block;
		width: 100%;
		@include media('>=desktop') {
			display: inline-block;
			vertical-align: top;
			padding: 0 0 0 41px;
			width: auto;
		}
		&.active{
			a{
				color: #0295db;
				background: rgba($white, .9);
				@include media('>=tablet') {
					
				}
				@include media('>=desktop') {
					background-color: transparent;
				}
			}
		}
		a{
			color: $black;
			text-decoration: none;
			padding: 15px;
			display: block;
			transition: color .3s ease, background .3s ease;
			@include media('>=desktop') {
				padding: 0;
				color: #869cb1;
			}
			&:hover{
				color: #0295db;
				background: rgba($white, .9);
				@include media('>=desktop') {
					background:transparent;
				}
			}
		}
	}
}

.nav-opener {
	float: right;
	width:55px;
	height:32px;
	position:relative;
	border-radius:3px;
	z-index: 5;
	margin-top: 13px;
	@include media('>=tablet') {
		margin-top: 13px;
	}
	@include media('>=desktop') {
		display: none;
	}
	&:hover {
		opacity:.9; 
		span,
			&:before,
			&:after {
				background:$light-blue;
			}
		}
	.nav-active & {
		span {
			opacity: 0;
		}
		&:before,
		&:after {
			transform:rotate(45deg);
			top:50%;
			left:15%;
			right:15%;
		}
		&:after {
			transform:rotate(-45deg);
		}
	}
	span,
	&:before,
	&:after {
		background:$light-blue;
		border-radius:4px;
		position:absolute;
		top:50%;
		left:25%;
		right:25%;
		height:3px;
		margin-top:-2px;
		transition:all .3s linear;
	}
	&:before,
	&:after {
		content:'';
		top:30%;
	}
	&:after {
		top:70%;
	}
}

.mobile-drop {
	left: 0;
	right: 0;
	position: absolute;
	background: rgba($light-blue, .9);
	overflow: hidden;
	z-index: 1000;
	transition: transform  .3s ease;
	top: 79px;
	min-height: 100vh;
	padding-bottom: 200px;
	transform: translateX(-100%);
	@include media('>=tablet') {
		padding-bottom: 273px;
	}
	@include media('>=desktop') {
		transition: none;
		padding-bottom: 0;
		position: static;
		background: none;
		float: right;
		min-height: 0;
		transform: translateX(0%);
	}
	.resize-active &{
		transition: none !important;
	}
	.nav-active & {
		transform: translateX(0%);
	}
}

.visual{
	position: relative;
	min-height: 841px;
}

.visual-form{
	padding: 40px 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to right, rgba(0,96,151,0.9) 0%,rgba(0,30,99,0.9) 100%);
	@include media('>=tablet') {
		padding: 53px 0 81px;
	}
}

h1{
	color: $white;
	font-size: 29px;
	font-weight: 100;
	letter-spacing: 2.4px;
	line-height: 1.1;
	margin-bottom: 15px;
	@include media('>=tablet') {
		font-size: 45px;
		margin-bottom: 35px;
	}
}
.sub-title{
	color: #a5d2ff;
	display: block;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 2.2px;
	margin-bottom: 38px;
	@include media('>=tablet') {
		font-size: 20px;
	}
}

.form-box{
	max-width: 807px;
	margin: 0 auto;
	position: relative;
	z-index: 3;
	.input-box{
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 100%;
		margin-bottom: 20px;
		@include media('>=tablet') {
			width: 33.332%;
			margin-right: -4px;
			margin-bottom: 0;
		}
	}
	.hbspt-form{
		form {
			overflow: hidden;
			> div {
				@include media('>=tablet') {
					width: 33.332% ;
					margin-bottom: 0;
					float: left;
					padding: 0 8px 0 0;
				}
			}
		}
		> div{
			text-align: left;
			width: 100%;
			margin-bottom: 20px;
		}
		input{
			display: inline-block;
			vertical-align: top;
			padding: 16px 24px;
			font-size: 15px;
			background:transparent;
			border: 1px solid rgba(#aac6e0, .65);
			border-radius: 2px;
			width: 100%;
			height: 54px;
			color: $white;
			outline: none;
			max-width: none !important;
			box-sizing: border-box !important;
		}
		input[type="submit"]{
			margin-top: 24px;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			border: none !important;
			text-transform: uppercase;
			background: #ffba00 !important;
			color: $white;
			width: 100%;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 0.6px;
			padding: 16px;
			border-radius: 3px;
			transition: background .3s ease;
			text-shadow: none !important;
			box-shadow: none !important;
			&:hover{
				background: $light-blue !important;
				border: none !important;
			}
		}
		.actions {
			margin: 0 !important;
			padding: 0 !important;
		}
		.hs_firstname,
		.hs_lastname,
		.hs_email{
			label{
			color: $white;
			}
		}
		.hs_lastname {
			display: none !important;
		}
		.hs-error-msgs{
			label{
				display: block !important;
				font-size: 16px !important;
				color:#f00 !important;
				text-align: center;
				font-size: 15px !important;
				padding-top: 10px !important;
				@include media('>=tablet') {
					text-align: left;
					font-size: 16px !important;
				}
			}
		}
	}
}

.logo-block{
	position: relative;
	background:#d7eaf5 url('../images/logo-lg.png') 50% 50% no-repeat;
	@include media('>=tablet') {
		min-height: 382px;
	}
	@include media('>=widescreen') {
		padding: 0 50px;
	}
	.circle{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background:$white;
		border-radius: 50%;
		padding: 34px 36px;
		z-index: 9;
		&:before{
			content: '';
			position: absolute;
			left: -9px;
			top: -9px;
			right: -9px;
			bottom: -9px;
			z-index: -1;
			background:rgba($white, .6);
			border-radius: 50%;
		}
		img{
			width: 77px;
		}
	}
	ul{
		@extend %clearfix;
		@extend %listreset;
		text-align: center;
		width: 100%;
		@include media('>=tablet') {
			height: 382px;
		}
		li{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin-right: -4px;
			z-index: 10;
			@include media('>=tablet') {
				position: absolute;
				display: block;
				width: auto;
				margin-right: 0;
			}
		}
		a{
			width: 130px;
			display: inline-block;
			vertical-align: top;
			opacity: 1;
			transition:opacity .3s ease;
				&:hover{
				opacity: .5;
			}
			img{
				width: 100%;
			}
		}
	}
}

.top, .bottom{
	@include media('>=tablet') {
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
	}
	@include media('>=desktop') {
		top: -10px;
		a{
			width: 214px !important;
		}
	}
}

.bottom{
	top: auto !important;
	@include media('>=tablet') {
		bottom: -3px;
	}
	@include media('>=desktop') {
		a{
			width: 179px !important;
		}
	}
}

.left-pos-1{
	@include media('>=tablet') {
		top: 13px;
		left: 54px;
	}
	@include media('>=desktop') {
		left: 127px;
		a{
			width: 180px !important;
		}
	}
	@include media('>=widescreen') {
		top: 79px;
		left: -6px;
	}
}

.left-pos-2{
	@include media('>=tablet') {
		top: 160px;
		left: 24px
	}
	@include media('>=desktop') {
		left: 107px;
		a{
			width: 182px !important;
		}
	}
	@include media('>=widescreen') {
		top: 133px;
		left: 262px;
	}
}
.left-pos-3{
	@include media('>=tablet') {
		bottom: 34px;
		left: 72px;
	}
	@include media('>=desktop') {
		bottom: 13px;
		left: 157px;
		a{
			width: 182px !important;
		}
	}
	@include media('>=widescreen') {
		bottom: 45px;
		left: 115px;
	}
}

.right-pos-1{
	@include media('>=tablet') {
		right: 63px;
		top: 14px;
	}
	@include media('>=desktop') {
		right: 112px;
		top: 23px;
		a{
			width: 200px !important;
		}
	}
	@include media('>=widescreen') {
		right: -61px;
		top: 54px;
	}
}

.right-pos-2{
	@include media('>=tablet') {
		top: 151px;
		right: 20px;
	}
	@include media('>=desktop') {
		right: 49px;
		a{
			width: 239px !important;
		}
	}
	@include media('>=widescreen') {
		top: 119px;
		right: 221px !important;
	}
}

.right-pos-3{
	@include media('>=tablet') {
		bottom: 34px;
		right: 74px;
	}
	@include media('>=desktop') {
		bottom: 26px;
		right: 184px;
		a{
			width: 150px !important;
		}
	}
	@include media('>=widescreen') {
		bottom: 67px;
		right: 39px;
	}
}

.btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	border: 3px solid rgba($white, .1);
	color: #54b2e0;
	font-size: 12px;
	padding: 10px 30px 10px 18px;
	letter-spacing: 1.5px;
	transition: color .3s ease, background .3s ease;
	&:before{
		content: '>';
		position: absolute;
		top: 47%;
		right: 16px;
		color: $white;
		font-size: 14px;
		transform: translateY(-50%);
	}
	span{
		color: $white;
	}

	&:hover{
		color: $white;
		background:rgba($white, .1);
	}
}

.section{
	position: relative;
	color: $white;
	overflow: hidden;
	padding-top: 40px;
	background: linear-gradient(to right, rgba(0,96,151,1) 0%,rgba(0,30,99,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%);
	@include media('>=tablet') {
		padding-bottom: 0;
		padding-top: 73px;
	}
	.container{
		max-width: 1347px;
		overflow: hidden;
		padding-bottom: 370px;
		@include media('>=tablet') {
			padding-bottom: 0;
		}
	}
	.left-col{
		float: left;
		width: 100%;
		@include media('>=desktop') {
			width: 23.4%;
		}
	}
	.right-col{
		float: right;
		width: 100%;
		@include media('>=tablet') {
			width: 50%;
			.text-box{
				width: 100%;
			}
		}
		@include media('>=desktop') {
			width: 24%;
		}
		.img-holder {
			width: 21%;
		}
		.btn{
			@include media('>=tablet') {
				margin-left: 50px;
			}
		}
	}
	.text-box{
		width: 100%;
		letter-spacing: 0.2px;
		line-height: 1.125;
		margin: 0 auto 50px;
		padding: 0 15px;
		@include media('>=tablet') {
			max-width: none;
			margin: 0 0 50px;
			width: 50%;
			margin-right: -4px;
			display: inline-block;
			vertical-align: top;
		}
		@include media('>=desktop') {
			width: 100%;
			margin-right: 0;
			padding: 0;
			display: block;
		}
	}
	
	p{
		font-size: 15px;
		margin-bottom: 31px;
	}
	ul{
		text-align: left;
		@extend %listreset;
		padding-top: 21px;
		padding-bottom: 13px;
		li{
			padding-left: 20px;
			font-size: 16px;
			line-height: 1.3;
			padding-bottom: 36px;
			position: relative;
			@include media('>=tablet') {
				padding-left: 48px;
			}
			&:before{
				content: '';
				position: absolute;
				left: 0px;
				top: 8px;
				width: 11px;
				height: 11px;
				border: 3px solid $white;
				border-radius: 50%;
				@include media('>=tablet') {
					left: 23px;
				}
			}
		}
	}
}

.title-box{
	max-width: 900px;
	margin: 0 auto 50px;
	text-align: center;
	@include media('>=desktop') {
		margin: 0 auto 142px;
	}
	.sub-title{
		letter-spacing: 0.9px;
		margin-bottom: 0;
		letter-spacing: normal;
		line-height: normal;
	}
}

.title-wrap{
	overflow: hidden;
	padding-bottom: 26px;
	@include media('>=tablet') {
		min-height: 114px;
	}
	@include media('>=desktop') {
		min-height: 0;
	}
}
.img-holder{
	display: inline-block;
	vertical-align: middle;
	width: 23%;
	max-width: 85px;
	@include media('>=desktop') {
		max-width: none;
	}
	img{
		width: 100%;
	}
}
.text-holder{
	padding-left: 31px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	width: 68%;
	@include media('>=tablet') {
		vertical-align: top;
	}
	@include media('>=desktop') {
		vertical-align: middle;
	}
	h2{
		font-size: 18px;
		letter-spacing: 0.7px;
	}
}
.img-wrap{
	padding: 25px 26px 0;
	position: absolute;
	left: 50%;
	text-align: center;
	bottom: 0;
	width: 280px;
	transform: translateX(-50%);
	&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: -9999px;
			background: $black;
			z-index: -1;
			border-radius: 50px;
		}
	@include media('>=tablet') {
		padding: 20px 21px 0;
		left: 15px;
		transform: translateX(0%);
		width: 270px;
	}
	@include media('>=desktop') {
		padding: 40px 41px 0;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: 39%;

	}
	img{
		width: 100%;
		vertical-align: top;
	}
	.bg-img{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
}

.video-section{
	padding-top: 54px;
	text-align: center;
	.title-holder{
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
		background: linear-gradient(to right, rgba(71,209,241,1) 0%,rgba(7,40,150,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%);
	}
	h1{
		color: $black;
		background: $white;
		mix-blend-mode: lighten;
		position: relative;
		z-index:1;
		margin-bottom: 58px;
	}
}

.mejs-container{
	width: 100% !important;
	margin: -4px 0 -6px;
}

.mejs-overlay-button {
	top: 41% !important;
	width: 100px !important;
	height: 100px !important;
	@include media('>=tablet') {
		top: 50% !important;
		width: 142px !important;
		height: 142px !important;
	}
}

.video-wrap{
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	z-index: 10;
	&:before{
		content: '';
		position: absolute;
		left: -16px;
		top: -16px;
		right: -16px;
		bottom: -16px;
		background: rgba(#e1edf5, .52);
		z-index: -1;
		border-radius: 4px;
		box-shadow: inset 0px 0px 13px 8px rgba(55,85,181,0.07);
	}
}

.video{
	background: $white;
	display: block;
	z-index: 100;
	position: relative;
	border: 1px solid #c2c8cb;
	padding: 13px 9px;
	border-radius: 5px;
}

.play{
	background:rgba($white, .91);
	border-radius: 50%;
	width: 122px;
	height: 122px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.play-box{
	background: linear-gradient(to right, rgba(71,209,241,1) 0%,rgba(7,40,150,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%);
	display: block;
	border-radius: 50%;
	width: 92px;
	height: 92px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	&:before{
		content: '';
		position: absolute;
		color: $white;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background:transparent url('../images/play.svg') left top no-repeat;
	}
}

.video-form{
	position: relative;
	padding-top: 124px;
	padding-bottom: 10px;
	margin-top: -79px;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background:transparent url('../images/sphere-left.png') left 0% no-repeat;
		width: 35%;
		height: 550px;
		background-size:100% auto;
		z-index: 2;
		@include media('>=tablet') {
			width: 16.3%;
		}
		@include media('>=desktop') {
			background:transparent url('../images/sphere-left.png') left 50% no-repeat;
			top: -17%;
			width: 237px;
		}
	}
		&:after{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		background: transparent url("../images/sphere-right.png") left 0% no-repeat;
		width: 35%;
		height: 606px;
		background-size:100% auto;
		z-index: 2;
		@include media('>=tablet') {
			width: 20.5%;
		}
		@include media('>=desktop') {
			background: transparent url("../images/sphere-right.png") left 50% no-repeat;
			width: 298px;
			top: -69.1%;
		}
	}
	@include media('>=tablet') {
		padding-top: 184px;
		padding-bottom: 73px;
		margin-top: -116px;
	}
	.container{
		position: static;
	}
}

#footer{
	position: relative;
	margin-top: -1px;
	background: #030a22;
	color: #a6b6d3;
	padding-top: 25px;
	@include media('>=tablet') {
		padding-top: 67px;
	}
	.container{
		@extend %clearfix;
	}
	ul{
		@extend %listreset;
		li{
			padding-bottom: 17px;
		}
	}
	a{
		text-decoration: none;
		color: inherit;
		transition: color .3s ease;
			&:hover{
			color: $white;
		}
	}
	.title{
		color: $white;
		letter-spacing: 2px;
		margin-bottom: 19px;
		display: block;
	}
}

.footer-bottom{
	background:#010307;
}

.footer-box{
	float: left;
	width: 100%;
	padding: 0 21px 25px 21px;
	@include media('>=tablet') {
		padding: 0 21px 51px 21px;
	}
	@include media('>=desktop') {
		padding: 71px 21px 51px 21px;
		width: 38%;
	}
	.logo{
		display: block;
		width: 185px;
		margin: 0 auto;
		@include media('>=tablet') {
			width: 280px;
		}
		@include media('>=desktop') {
			margin: 0;
			vertical-align: top;
			display: inline-block;
		}
		img{
			width: 100%;
		}
	}
}

.list-box{
	float: left;
	width: 50%;
	padding: 0px 25px 30px;
	position: relative;
	z-index: 3;
	@include media('>=tablet') {
		width: 25%;
		padding: 0 21px 51px;
		text-align: left;
	}
	@include media('>=desktop') {
		width: 15.7%;
	}
}
.search-box{
	float: left;
	width: 100%;
	padding-bottom: 25px;
	@include media('>=tablet') {
		width: 50%;
		padding-bottom: 51px;
	}
	@include media('>=desktop') {
		width: 30%;
	}
}

#footer{
	/* footer search form styles */
	.hbspt-form{
		display: inline-block;
		vertical-align: top;
		width: 100%;
		z-index: 1;
		border-radius: 3px !important;
		overflow: hidden !important;
		@include media('>=tablet') {
				max-width: 350px;
		}

	}

	.hs-form{
		margin-bottom: 0 !important;
		position: relative !important;
		.hs_firstname{
			display: none;
		}
		.hs_lastname{
			display: none;
		}
		.field {
			margin-bottom: 0px !important;
		}
		label{
			display: none !important;
		}
		.input{
			border-radius: 3px !important;
			margin-bottom: 16px;
		}
		input{
			width: 100% !important;
			box-sizing: border-box !important;
			height: 44px !important;
			border: none !important;
			padding: 10px 49% 10px 10px !important;
			font-size: 14px !important;
			color: #7b95a3 !important;
		}
		.hs_submit{
			position: absolute;
			background: $light-blue !important;
			right: 0;
			top: 0;
			height: 44px !important;
			width: 45% !important;
			border-radius: 0px 3px 3px 0;
			transition: background .3s ease;
			&:hover{
				background: $dark-blue;
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				opacity: .17;
				background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(255,255,255,1) 41%,rgba(0,0,0,1) 100%);
				z-index: 99;
			}
		}
		.actions{
			margin: 0 !important;
			padding: 0 !important;
			width: 100% !important;
			box-sizing: border-box !important;
			height: 100%;
		}
		.hs-button{
			color: $white !important;
			font-weight: bold !important;
			text-transform: uppercase !important;
			font-size: 14px;
			padding: 5px !important;
			overflow: hidden !important;
			border-radius: 0 !important;
			box-shadow: none !important;
			border: none !important;
			font-size: 0;
			height: 100% !important;
			position: relative !important;
			z-index: 999;
			background: transparent !important;
		}
	}

	.hs-error-msgs{
		label{
			display: block !important;
			font-size: 16px !important;
			color: rgba(186, 0, 0, 1) !important;
			text-align: center;
			font-size: 15px !important;
			@include media('>=tablet') {
				text-align: left;
				font-size: 16px !important;
			}
		}
	}

	.submitted-message{
		color: $light-blue !important;
	}
}

.social-networks{
	padding-top: 16px !important;
	@extend %listreset;
	text-align: center;
	@include media('>=tablet') {
		text-align: left;
	}
	li{
		display: inline-block;
		vertical-align: top;
		padding-bottom: 0;
		padding-right: 1px;
		a{
			position: relative;
			display: block;
			text-decoration: none;
			color: $white;
			background: #000;
			border-radius: 50%;
			width: 44px;
			height: 44px;
			text-align: center;
			transition: background .3s ease !important;
				&:hover{
				background: #fc3d3d;
			}
		}
		i{
			color: $white;
			font-size: 13px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.copyright{
	display: block;
	text-align: center;
	@include media('>=tablet') {
		text-align: left;
	}
	a{
		text-decoration: none;
		color: inherit;
	}
}

.footer-bottom{
	padding: 20px 0;
	overflow: hidden;
	.question{
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 19px;
		padding-left: 1px;
		letter-spacing: 2.5px;
		color: #6884c8;
		padding-bottom: 15px;
		@include media('>=desktop') {
			text-align: left;
			letter-spacing: 2.5px;
			font-size: 21px;
			padding-top: 17px;
			padding-bottom: 0;
			display: inline-block;
			vertical-align: middle;
		}
		@include media('>=widescreen') {
			letter-spacing: 4.5px;
		}
	}
	.btn{
		text-align: center;
		padding: 15px;
		text-transform: uppercase;
		text-decoration: none;
		color: $white !important;
		border: 3px solid #6884c8;
		border-radius: 4px;
		font-weight: bold;
		min-width: 282px;
		font-size: 18px;
		letter-spacing: 1px;
		display: block;
		margin: 0 auto;
		transition: background .3s ease !important;

		&:before {
			visibility: hidden;
		}
		&:hover{
			background: #6884c8;
		}
		@include media('>=tablet') {
			width: 50%;
		}
		@include media('>=desktop') {
			float: right;
			margin: 0;
			width: auto;
		}
	}
}


.top-section{
	@include v-align(60px);
	text-align: center;
	background: linear-gradient(to right, rgba(0,96,151,1) 0%,rgba(0,30,99,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%);
	padding: 40px 0px;

	@include media('>=tablet') {
		&:after {
			min-height: 100px;
		}
	}

	@include media('>=tablet') {
		&:after {
			min-height: 164px;
		}
	}

	.title-container{
		max-width: 760px;
		margin: 0 auto;
	}
	h1{
		color: $white;
		margin-bottom: 2px;
	}
	.sub-title{
		color: #a5d2ff;
		letter-spacing: 1.8px;
		@include media('>=desktop') {
			margin: 0 0 20px;
		}
	}
	.container{
		overflow: hidden;
	}
}

.second-block{
	padding: 41px 0 36px;
	min-height: 556px;
	text-align: center;
	position: relative;
	.container{
		min-height: 433px;
		max-width: 1454px;
	}
	h1{
		font-weight: 700;
		font-size: 29px;
		margin-bottom: 35px;
		text-transform: uppercase;
		color: #3fa9f5;
		@include media('>=desktop') {
			font-size: 64px;
			margin-bottom: 30px;
		}
	}
	ul{
		@extend %listreset;
		position: relative;
		overflow: hidden;
		li{
			text-align: center;
			position: relative;
			font-size: 18px;
			color: #164b7d;
			width: 100%;
			letter-spacing: 0.7px;
			padding-bottom: 70px;
			margin-top: 70px;
			&:last-child{
				.seporator{
					display: none;
				}
			}
			@include media('>=tablet') {
				display: inline-block;
				vertical-align: top;
				width: 33.332%;
				margin-right: -4px;
				padding: 0 50px;
			}
			img{
					width: 100%;
				}
			h3{
				position: relative;
				display: block;
				text-transform: uppercase;
				font-size: 16px;
				color: #fbb03b;
				margin-bottom: 18px;
			}

			.icon-box{
				cursor: pointer;
				z-index: 999;
				margin: 0 0 12px 0;
				display: inline-block;
				vertical-align: top;
				max-width: 250px;
				@include media('>=tablet') {
					min-height: 273px;
					max-width: none;
				}
				&.hover{
					.text-block{
						transform: scale(1);
					}
					@include media('>=tablet') {
						margin: 0 0 12px 0;
					}
				}
			}
			.point{
				white-space: nowrap;
				display: block;
				width: 13px;
				height: 13px;
				position: absolute;
				top: -63px;
				left: 50%;
				background: #2f7fb8;
				border-radius: 50%;
				margin: 0 0 0 -6px;
				&.point-2 {
					margin: 0 0 0 2px;
					&:before {
						display: inline-block;
					}
				}
				&.point-3 {
					&:before,
					&:after {
						display: inline-block;
					}
				}
				&:after,
				&:before{
					display: none;
					vertical-align: top;
					content: '';
					left: -17px;
					width: 13px;
					height: 13px;
					border-radius: 50%;
					background: #2f7fb8;
					position: relative;
				}
				&:after {
					left: auto;
					right: -4px;
				}
			}
		   .line{
				position: absolute;
				left: 50%;
				top: -27px;
				transform: translate(-50%, 0%);
				height: 18px;
				width: 1px;
				background: #4baef6;
				&:before, &:after{
					content: '';
					position: absolute;
					top: 0;
					left: -1px;
					background: #4baef6;
					width: 3px;
					height: 3px;
				}
				&:after{
					bottom: 0;
					top: auto;
				}
			}
			.seporator{
				position: absolute;
				left: 50%;
				bottom: 6%;
				transform: translate(-50%, 0%);
				height: 64px;
				width: 1px;
				background: #4baef6;
				@include media('>=tablet') {
					top: 40%;
					height: 1px;
					width: 64px;
					right: 0;
					left: auto;
					bottom: auto;
					transform: translate(50%, 0%);
				}
				@include media('>=desktop') {
					top: 50%;
				}
				&:before, &:after{
					content: '';
					position: absolute;
					top: 0;
					left: -1px;
					background: #4baef6;
					width: 3px;
					height: 3px;
					@include media('>=tablet') {
						left: 0;
						top: -1px;
					}
				}
				&:after{
					bottom: 0;
					top: auto;
					@include media('>=tablet') {
						left: auto;
						right: 0;
						top: -1px;
					}
				}
			}
		}
	}
	.list-wrap{
		.text-block{
			top: 30px;
			transform: scale(0);
			bottom: 40px;
			border-radius: 15px;
			color: $white;
			background:rgba($gray, .8);
			z-index: 5;
			letter-spacing: 0.7px;
			position: absolute;
			text-align: left;
			padding: 14px;
			font-size: 15px;
			font-weight: 300;
			width: auto;
			left: 20px;
			right: 20px;
			transition: transform .3s ease;
			@include media('>=tablet') {
				top: 50px;
				bottom: 0;
			}
			@include media('>=desktop') {
				top: 30px;
				padding: 25px;
			}
		}
	}
}

.third-block{
	padding-top: 50px;
	padding-bottom: 50px;
	@include media('>=desktop') {
		padding-top: 81px;
		padding-bottom: 95px;
	}
	.container{
		max-width: 1132px;
		padding-bottom: 0;
	}
	h2{
		margin-bottom: 7px;
	}
	p{
		margin-bottom: 15px;
	}
	.title-box {
		margin: 0 auto 50px;
		@include media('>=desktop') {
			margin: 0 auto 107px;
		}
	}
	.title-wrap{
		min-height: 0;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding-bottom: 50px;
		@include media('>=tablet') {
			width: 50%;
			margin-right: -4px;
			padding-right: 25px;
			padding-bottom: 32px;
		}
		.img-holder{
			width: 14%;
		}
		.text-holder{
			width: 77%;
			vertical-align: top;
			padding:0 30px;
			font-size: 15px;
		}
	}
}

.video-block{
	padding-top: 70px;
	.title-holder{
		max-width: 1000px;
	}
}

.documentation{
	padding: 83px 0 38px 0;
	h3{
		font-size: 20px;
		margin-bottom: 10px;
		color: #334e73;
		letter-spacing: 1px;
		max-width: 825px;
		line-height: 1;
	}
	ul{
		@extend %listreset;
		color: #507cb7;
		font-size: 15px;
		line-height: 1.3;
		font-weight: 300;
		li{
			position: relative;
			padding: 0 10px 19px 25px;
			@include media('>=tablet') {
				padding:0 72px 19px;
			}
			&:before{
				content: '';
				background:transparent url('../images/list-arrow.png') left top no-repeat;
				background-size: 11px 16px;
				position: absolute;
				left: 0;
				top: 7px;
				width: 11px;
				height: 16px;
				@include media('>=tablet') {
					left: 32px;
				}
			}
		}
		a{
			text-decoration: none;
			color: $light-blue;
			transition:color .3s ease;
				&:hover{
				color: $dark-blue;
			}
		}
	}
	.plus-list{
		padding-top: 22px;
		padding-bottom: 6px;
		font-style: italic;
		&.last-list{
			padding-top: 0;
		}
		li{
			padding: 0 0 9px;
			&:before{
				content: none;
			}
		}
		p{
			margin-bottom: -12px;
		}
	}
}

.table-section{
	position: relative;
	background: #d7eaf5;
	padding: 25px 0;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 28px;
		background:transparent url('../images/price-bg.png');
		width: 553px;
		height: 587px;
		background-size: 553px 587px;
	}
	@include media('>=tablet') {
		padding-top: 31px;
	padding-bottom: 58px;
	}
	.container{
		padding: 0 5px;
		@include media('>=tablet') {
			padding:0 15px;
		}
	}
	ul{
		@extend %listreset;
	}
	.container{
		overflow: hidden;
	}
}

.hidden{
	visibility: hidden;
}

.table-aside{
	color: $white;
	float: left;
	font-size: 12px;
	width: 50%;
	@include media('>=tablet') {
		width: 20.7%;
	}
	@include media('>=desktop') {
		width: 32%;
		font-size: 14px;
	}
}

.table-col{
	padding-bottom: 5px;
	float: right;
	overflow-x: auto;
	width: 50%;
	@include media('>=tablet') {
		width: 79%;
		padding-bottom: 38px;
	}
	@include media('>=desktop') {
		width: 68%;
	}
}
.names{
	width: 100%;
	text-align: left;
	tbody {
		tr{
			th{
				text-align: left;
				font-weight: 500;
			}
			&:first-child{
				th{
					padding: 20px 15px;
					@include media('>=desktop') {
						padding: 20px 27px;
					}
				}
			}
			&:nth-child(even){
				th {
					 background: #032549;
				}
			}
		}
	}
	tr {

	}
	th{
		background: #082f58;
		padding: 20px 15px;
		@include media('>=desktop') {
			padding: 20px 27px;
		}
	}
	ul{
		font-weight: normal;
		padding-bottom: 7px;
		color: #b7dafe;
		li{
			padding: 14px 0 0 19px;
			position: relative;
			&:before{
				content: '+';
				position: absolute;
				left: 1px;
				top: 15px;
				color: $white;
			}
		}
	}
}

.package-title{
	padding: 19px 17px 30px;
	text-align: center;
	color: $white;
	background: linear-gradient(to right, rgba(26,126,230,1) 0%,rgba(18,90,220,1) 100%);
	&.package-2{
		background: linear-gradient(to right, rgba(16,86,168,1) 0%,rgba(12,62,132,1) 100%);
	}
	&.package-3{
		background: linear-gradient(to right, rgba(8,47,88,1) 0%,rgba(6,33,62,1) 100%);
	}
	@include media('>=desktop') {
		padding: 19px 24px 30px;
	}
	h3{
		color: $white;
		font-size: 24px;
		margin-bottom: 8px;
	}
	.price{
		display: block;
		color: #a3eaff;
		font-size: 14px;
		font-weight: 700;
	}
	p{
		font-size: 14px;
		margin-bottom: 18px;
	}
	.btn{
		border: none;
		background: linear-gradient(to right, rgba(93,253,254,1) 0%,rgba(39,135,255,1) 100%);
		display: block;
		border-radius: 4px;
		color: $white;
		font-size: 15px;
		padding: 3px;
		transition: color .3s ease;
		letter-spacing: 0;
			&:before {
				visibility: hidden;
			}
			&:hover{
			span{
				color: #ffba00;
			}
		}
		span{
			display: block;
			background: linear-gradient(to right, rgba(26,126,230,1) 0%,rgba(18,90,220,1) 100%);
			padding: 11px 5px;
			border-radius: 4px;
			&.bg-2{
				background: linear-gradient(to right, rgba(16,86,168,1) 0%,rgba(12,62,132,1) 100%);
			}
			&.bg-3{
				background: linear-gradient(to right, rgba(8,47,88,1) 0%,rgba(6,33,62,1) 100%);
			}
		}
	}
}

.packages{
	width: 454px;
	border-collapse: separate;
	border-spacing: 5px 0;
	@include media('>=tablet') {
		width: 100%;
		border-spacing: 10px 0;
	}
	.popular{
		text-align: center;
		color: $white;
		background: #ffba00;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 18px;
		padding: 16px 10px;
		display: block;
		margin-bottom: -1px;
	}
	tbody{
		tr{
			text-align: center;
			td{
				background: $white;
				padding: 21px 10px 15px;
				color: #43bdec;
				font-size: 18px;

			}
			&:first-child{
				td{
					padding: 62px 0 12px;
				}
			}
			&:nth-child(even){
				td{
					background: #f6fafd;
				}
			}
		}
	}
	img{
		max-width: 20px;
	}
	.check-mark{
		li{
			padding-bottom: 10px;
		}
	}
	.mark{
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 16px;
		background: url('../images/check.svg');
		background-size: 20px 16px;
	}
}

.bottom-title{
	padding-top: 20px;
	font-size: 15px;
	display: block;
	text-align: left;
	color: #4b6ab0;
	letter-spacing: 1px;
	clear: both;
	@include media('>=tablet') {
		font-size: 18px;
	}
}

.bottom-section{
	text-align: center;
	padding: 25px 0;
	@include media('>=tablet') {
		padding: 43px 0 79px;
	}
	.title-container{
		h1{
			color: #20326e;
			margin-bottom: 4px;
		}
		.sub-title{
			color: #5fc0ff;
		}
	}
}

.support-table{
	color: #507cb7;
	font-size: 15px;
	width: 100%;
	text-align: left;
	border: 1px solid #e5e5e5;
	td, th{
		padding: 25px 10px;
		letter-spacing: 1px;
		@include media('>=tablet') {
			padding: 25px 33px;
		}
	}
	th{
		text-align: left;
		font-weight: 500;
		width: 63%;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 10px;
			background: linear-gradient(to right, rgba(245,250,252,0) 27%,rgba(245,250,252,0) 28%,rgba(245,250,252,1) 100%);
		}
	}
	td{
		font-weight: 300;
	}
	tr{
		&:nth-child(even){
			background: #fafcfe;
		}
	}
}



// About Us page
.page-head {
	text-align: center;
	background: #006097;
	background: linear-gradient(to right,  #006097 0%,#005790 19%,#002c6e 74%,#001e63 100%);
	
	.container {
		min-height: 150px;
		white-space: nowrap;
		
		@include media('>=tablet') {
			min-height: 200px;
		}
		@include media('>=desktop') {
			min-height: 244px;
		}
		&:after {
			@include size(1px,150px);
			content:"";
			@include inline(middle);
			
			@include media('>=tablet') {
				height: 200px;
			}
			@include media('>=desktop') {
				height: 244px;
			}
		}
		.box {
			width: 100%;
			padding: 15px 0;
			@include inline(middle);
			white-space: normal;
			
			@include media('>=desktop') {
				padding: 22px 0 15px;
			}
		}
	}
}
.development-production {
	font-size: 13px;
	line-height: 17px;
	font-weight: 300;
	color: #507cb7;
	overflow: hidden;
	padding: 0 0 20px;
	letter-spacing: 0.6px;
	
	@include media('>=tablet') {
		font-size: 15px;
		line-height: 20px;
		padding: 0 0 25px;
	}
	.container {
		max-width: 993px;
	}
	.header {
		padding: 15px 0;
		text-align: center;
		position: relative;
		margin: 0 0 20px;
		box-shadow: 0 0 20px #e8edf6;
		
		@include media('>=tablet') {
			padding: 25px 0 27px;
			margin: 0 0 40px;
		}
		@include media('>=desktop') {
			padding: 35px 0 37px;
			margin: 0 0 54px;
		}
		&:after {
			height: 1px;
			@include pseudo-elements(auto,0,1px,0);
			background: #e8edf6;
		}
	}
	h1 {
		line-height: 1.2;
		@include inline(top);
		margin: 0;
		background: linear-gradient(to right, rgba(71,209,241,1) 0%,rgba(7,40,150,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%);
		
		span {
			display: block;
			color: #00598f;
			background: $white;
			mix-blend-mode: lighten;
		}
	}
	p {
		margin: 0 0 8px;
	}
	ul {
		@extend %listreset;
		margin: 0 0 10px;
		
		@include media('>=tablet') {
			margin: 0 0 28px;
		}
		li {
			padding: 0 0 8px 15px;
			position: relative;
			
			@include media('>=tablet') {
				padding: 0 0 8px 26px;
			}
			&:before {
				@include pseudo-elements(1px,auto,auto,0);
				content:"+";
				color: #22a5f3;
			}
		}
	}
	.txt-box {
		
		p {
			margin: 0 0 20px;
			
			@include media('>=tablet') {
				margin: 0 0 35px;
			}
		}
	}
}
.team {
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	background: #e8f4fc;
	letter-spacing: 0.75px;
	
	@include media('>=tablet') {
		font-size: 15px;
		line-height: 25px;
	}
	.text-box {
		padding: 0 0 30px;
		color: #466b9e;
		text-align: center;
		
		@include media('>=tablet') {
			padding: 0 40px 40px;
		}
		@include media('>=desktop') {
			padding: 0 70px 67px;
		}
		h1 {
			color: #0465a0;
			background: #eff8fe;
			margin: 0 -9999px 20px;
			text-transform: capitalize;
			padding: 15px 9999px;
			
			@include media('>=tablet') {
				margin: 0 -9999px 30px;
				padding: 28px 9999px 32px;
			}
			@include media('>=desktop') {
				margin: 0 -9999px 50px;
				padding: 38px 9999px 42px;
			}
		}
	}
	h1 {
		text-align: center;
		margin: 0 0 20px;
		
		@include media('>=tablet') {
			margin: 0 0 40px;
		}
		@include media('>=desktop') {
			margin: 0 0 60px;
		}
	}
	p {
		margin: 0;
	}
	.holder {
		padding: 40px 0 20px;
		color: $white;
		background: #006097;
		background: linear-gradient(to right,  #006097 0%,#005790 19%,#002c6e 74%,#001e63 100%);
		position: relative;
		
		@include media('>=tablet') {
			padding: 80px 0 52px;
		}
		&:before {
			@include pseudo-elements(0,auto,auto,50%);
			border-style: solid;
			border-width: 15px 28px 0 28px;
			border-color: #e8f4fc transparent transparent transparent;
			transform: translateX(-50%);
			
			@include media('>=tablet') {
				border-width: 20px 38px 0 38px;
			}
		}
	}
	ul {
		@extend %listreset;
		letter-spacing: -0.32em;
		
		li {
			padding: 0 15px 20px;
			letter-spacing: 0.5px;
			
			@include media('>=phone') {
				width: 50%;
				@include inline(top);
				padding: 0 10px 20px;
				letter-spacing: 0.75px;
			}
			@include media('>=desktop') {
				padding: 0 10px 25px 20px;
			}
			@include media('>=widescreen') {
				padding: 0 0 37px 62px;
			}
		}
		.img-holder {
			@include size(100px);
			max-width: inherit;
			display: block;
			margin: 0 auto 10px;
			border-radius: 100%;
			border: 5px solid rgba(255,255,255,.05);
			box-shadow: 0 0 0 1px rgba(97,160,230,.46);
			overflow: hidden;
			
			@include media('>=tablet') {
				@include size(120px);
				float: left;
				margin: 0 15px 0 0;
			}
			@include media('>=desktop') {
				@include size(160px);
				margin: 0 25px 0 0;
				border-width: 8px;
			}
			@include media('>=widescreen') {
				@include size(180px);
				margin: 0 32px 0 0;
				border-width: 10px;
			}
		}
		.text {
			overflow: hidden;
			line-height: 18px;
			text-align: center;
			
			@include media('>=tablet') {
				padding: 20px 0;
				text-align: left;
			}
			@include media('>=desktop') {
				padding: 37px 0;
			}
			@include media('>=widescreen') {
				padding: 47px 0;
			}
		}
		h2 {
			font-size: 16px;
			line-height: 1.2;
			margin: 0 0 4px;
			
			@include media('>=tablet') {
				font-size: 18px;
			}
			@include media('>=tablet') {
				font-size: 20px;
			}
			@include media('>=desktop') {
				font-size: 24px;
				letter-spacing: 1.2px;
			}
			a {
				color: $white;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.designation {
			display: block;
			font-size: 14px;
			line-height: 18px;
			font-weight: normal;
			color: #8caffc;
			letter-spacing: 0.5px;
			margin: 0 0 5px;
			
			@include media('>=tablet') {
				font-size: 16px;
				line-height: 22px;
			}
			@include media('>=desktop') {
				font-size: 18px;
				line-height: 24px;
				letter-spacing: 0.9px;
			}
		}
	}
}
.job-posts {
	font-weight: 300;
	padding: 20px 0 0;
	letter-spacing: 0.75px;
	
	@include media('>=tablet') {
		padding: 44px 0 0;
	}
	.container {
		max-width: 970px;
	}
	.text-box {
		margin: 0 0 20px;
		text-align: center;
		color: #899fbd;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.5px;
		
		@include media('>=tablet') {
			max-width: 780px;
			font-size: 19px;
			line-height: 23px;
			letter-spacing: 0.9px;
			margin: 0 auto 51px;
		}
	}
	h1 {
		line-height: 1;
		margin: 0 0 15px;
		@include inline(top);
		background: linear-gradient(to right, rgba(71,209,241,1) 0%,rgba(7,40,150,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%,rgba(46,83,207,1) 100%);
		
		@include media('>=tablet') {
			margin: 0 0 22px;
		}
		span {
			display: block;
			color: #00598f;
			background: $white;
			mix-blend-mode: lighten;
		}
	}
	article {
		font-size: 13px;
		line-height: 17px;
		color: #7192b1;
		padding: 25px 0;
		border-top: 1px solid #e8edf6;
		position: relative;
		overflow: hidden;
		
		@include media('>=tablet') {
			font-size: 15px;
			line-height: 18px;
			padding: 35px 0;
		}
		@include media('>=desktop') {
			padding: 46px 0;
		}
		&:before {
			height: 20px;
			@include pseudo-elements(-19px,0,auto,0);
			box-shadow: 0 0 20px #e8edf6;
		}
		&.add {
			@include media('>=desktop') {
				line-height: 22px;
				padding: 65px 0 40px;
				
				h2 {
					margin: 0 0 24px;
				}
				p {
					margin: 0 0 26px;
				}
			}
		}
	}
	h2 {
		font-size: 19px;
		line-height: 25px;
		letter-spacing: 1px;
		color: #3d4f60;
		margin: 0 0 15px;
		
		@include media('>=tablet') {
			font-size: 25px;
			line-height: 32px;
			margin: 0 0 30px;
		}
		@include media('>=desktop') {
			font-size: 30px;
			line-height: 40px;
			letter-spacing: 1.4px;
			margin: 0 0 46px;
		}
	}
	h3 {
		font-size: 19px;
		line-height: 30px;
		font-weight: 100;
		text-transform: capitalize;
		letter-spacing: 1px;
		color: #398dff;
		margin: 0 0 15px;
		
		@include media('>=tablet') {
			font-size: 27px;
			line-height: 34px;
			margin: 0 0 20px;
		}
		@include media('>=desktop') {
			font-size: 30px;
			line-height: 40px;
			letter-spacing: 1.5px;
			margin: 0 0 28px;
		}
	}
	h4 {
		font-size: 14px;
		line-height: 1;
		font-weight: 500;
		letter-spacing: 0.5px;
		color: #456685;
		margin: 0 0 15px;
		
		@include media('>=tablet') {
			font-size: 15px;
			margin: 0 0 20px;
		}
		@include media('>=desktop') {
			font-size: 17px;
			letter-spacing: 0.8px;
			margin: 0 0 34px;
		}
	}
	p {
		margin: 0 0 15px;
		
		@include media('>=tablet') {
			margin: 0 0 20px;
		}
		@include media('>=desktop') {
			margin: 0 0 36px;
		}
		span {
			display: block;
			margin: 0 0 5px;
			
			@include media('>=tablet') {
				margin: 0 0 8px;
			}
		}
		strong {
			font-size: 14px;
			font-weight: 500;
			color: #456685;
			
			@include media('>=tablet') {
				font-size: 17px;
			}
		}
	}
	ul {
		@extend %listreset;
		margin: 0 0 6px;
		letter-spacing: 0.45px;
		
		@include media('>=tablet') {
			line-height: 22px;
		}
		li{
			padding: 0 0 10px 12px;
			position: relative;
			
			@include media('>=tablet') {
				padding: 0 0 15px 20px;
			}
			@include media('>=desktop') {
				padding: 0 0 30px 27px;
			}
			&:before {
				@include size(4px);
				@include pseudo-elements(7px,auto,auto,0);
				background: #0083ff;
				border-radius: 100%;
			}
		}
	}
	.btn-apply {
		min-width: 205px;
		padding: 13px 65px 13px 20px;
		@include inline(top);
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 3.5px;
		font-size: 14px;
		line-height: 20px;
		font-weight: 700;
		color: $white;
		background: #0494d8;
		position: relative;
		margin: 0 0 14px;
		
		&:after {
			width: 53px;
			padding: 10px;
			@include pseudo-elements(0,0,0,auto);
			content:">";
			color: #7ed6ff;
			background: #007bb5;
		}
		&:hover {
			opacity: 0.9;
		}
	}
	.btn-more {
		min-width: 144px;
		padding: 8px 10px 8px 15px;
		@include inline(top);
		border: 3px solid #e9f1fa;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		font-size: 12px;
		line-height: 17px;
		font-weight: 700;
		color: #54b2e0;
		position: relative;
		margin: 0 0 20px;
		
		@include media('>=tablet') {
			margin: 0 0 31px;
		}
		&:after {
			content:">";
			color: #2877d2;
			margin: 0 0 0 5px;
			position: relative;
			top: -1px;
		}
		&:hover {
			color: $white;
			background: #54b2e0;
			border-color: transparent;
			
			&:after {
				color: $white;
			}
		}
	}
	.drop-line {
		max-width: 710px;
		margin: 0 auto;
		font-size: 14px;
		line-height: 20px;
		font-style: italic;
		text-align: center;
		color: #49a3f8;
		letter-spacing: 1px;
		
		@include media('>=tablet') {
			font-size: 20px;
			line-height: 26px;
		}
		@include media('>=widescreen') {
			position: relative;
			left: -22px;
		}
		a {
			font-weight: bold;
			text-decoration: none;
			
			&:hover {
				opacity: 0.9;
			}
		}
	}
}

// Blog page 
.two-columns {
	@extend %clearfix;
	padding: 15px;
	background: #edeeef;
	position: relative;

	&:before {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: -9999px;
		right: -9999px;
		background: #edeeef;
		z-index: -1;
	}

	@include media('>=desktop') {
		padding: 52px 15px 0;
	}
}

#content {

	&:only-child {
		width: 100%;
	}

	@include media('>=tablet') {
		float: left;
		width: 67%;
	}

	@include media('>=desktop') {
		width: 68%;
	}
}

.new-item {
	opacity: 0;
	transform: translateY(25px);
}

.post-wrapp {
	position: relative;
	padding: 0 0 53px;
}

.is-busy {
	.loader {
		opacity: 1;
		visibility: visible;
		animation: load 2s infinite ease;
	}
}

.loader {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
	height: 53px;
	width: 53px;
	background: url(../images/loader.svg) no-repeat;
	background-size: 53px 53px;
}

.post {
	@extend %clearfix;
	background: $white;
	box-shadow: 0 0 7px 0 rgba(20,76,129,0.75);
	padding: 15px;
	font-weight: 300;
	color: #989898;
	text-align: justify;
	margin: 0 0 15px;
	transition: opacity 1s linear, transform 1s linear;

	@include media('>=tablet') {
		padding: 20px;
	}

	@include media('>=desktop') {
		padding: 39px 52px 30px;
		margin: 0 0 23px;
	}

	h2 {
		font-size: 23px;

		@include media('>=desktop') {
			letter-spacing: 2.3px;
			margin: 0 0 7px;
		}

		a {
			color: #134b80;
			text-decoration: none;
			transition: color .3s;

			&:hover {
				color: #0494d9;
			}
		}
	}

	time {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		display: block;
		padding: 0 0 14px;

		@include media('>=desktop') {
			letter-spacing: 2.7px;
			padding: 0 0 21px;
		}

		a {
			color: #0494d9;
			text-decoration: none;

			&:hover {
				color: #134b80;
			}
		}
	}

	p {
		@include media('>=desktop') {
			margin: 0 0 22px;
		}
	}

	.btn {
		&.btn-default {
			color: #bcbec0;
			border-color: #bcbec0;
			transition: border .3s, background .3s, color .3s;
			min-width: 144px;
			padding: 10px 30px 10px 22px;

			&:before {
				color: #bcbec0;
				right: 23px;
			}

			&:hover {
				border-color: #0494d9;
				background: #0494d9;
				color: $white;

				&:before {
					color: $white;
				}
			}

			@include media('>=tablet') {
				float: left;
				margin: 0 0 14px;
			}
		}
	}

	.social-network {
		@extend %listreset;
		padding: 20px 0 0;

		@include media('>=tablet') {
			float: left;
			width: 100%;
			padding: 2px 0 0;
		}

		@include media('>=desktop') {
			float: right;
			width: auto;
			margin: 0 -5px 0 0;
			text-align: center;
		}

		li {
			display: inline-block;
			margin-right: -3px;
			vertical-align: middle;
			padding: 0 4px 10px;

			@include media('>=desktop') {
				padding: 0 5px 10px;
			}
		}

		a {
			color: $white;
			display: block;
			text-decoration: none;
			border-radius: 2px;
			box-shadow: 0 0 10px 0 rgba($black,.2);
			transition: border .3s, background .3s;
			font-size: 14px;

			&.btn-facebook {
				background: #425597;

				&:hover {
					background: #4f66b4;
					.btn-count {
						background: #425597;
						&:before {
							border-top-color: #425597;
						}
					}
				}

				.btn-count {
					background: #4f66b4;

					&:before {
						@include triangle(8px, #4f66b4, up-right);
					}
				}
			}

			&.btn-twitter {
				background: #46a0d4;

				&:hover {
					background: #4eb4f2;
					.btn-count {
						background: #46a0d4;
						&:before {
							border-top-color: #46a0d4;
						}
					}
				}

				.btn-count {
					background: #4eb4f2;

					&:before {
						@include triangle(8px, #4eb4f2, up-right);
					}
				}
			}

			&.btn-google {
				background: #cb4232;

				&:hover {
					background: #e34b3d;
					.btn-count {
						background: #cb4232;
						&:before {
							border-top-color: #cb4232;
						}
					}
				}

				.btn-count {
					background: #e34b3d;

					&:before {
						@include triangle(8px, #e34b3d, up-right);
					}
				}
			}

			@include media('>=tablet') {
				font-size: 16px;
			}

			.btn-count {
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				padding: 8px;
				border-radius: 0 2px 2px 0;
				font-weight: bold;
				min-width: 37px;
				height: 28px;
				position: relative;

				&:before {
					position: absolute;
					content: '';
					top: 5px;
					left: -8px;
				}

				@include media('>=tablet') {
					min-width: 43px;
					height: 32px;
				}

				@include media('>=desktop') {
					margin-right: -3px;
					font-size: 13px;
				}
			}

			.icon {
				@include size(36px,28px);
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				padding: 8px;

				@include media('>=tablet') {
					@include size(40px,32px);
				}

				@include media('>=desktop') {
					margin-right: -3px;
				}
			}
		}
	}
}

#sidebar {

	@include media('>=tablet') {
		float: right;
		width: 31%;
	}

	@include media('>=desktop') {
		width: 29.9%;
	}
}

.aside-box {
	background: $white;
	margin: 0 0 15px;

	&.aside-box-add {
		margin: 0 0 15px;
		background: linear-gradient(to right, #006097 0%,#00528c 25%,#003f7d 50%,#002b6e 75%,#001e63 100%);

		@include media('>=tablet') {
			text-align: center;
		}

		@include media('>=desktop') {
			margin: 0 0 21px;
		}

		h3 {
			color: $white;
			font-weight: bold;
			font-size: 20px;
			margin: 0;
			padding: 15px 15px 15px 30px;
			background: linear-gradient(to right, #005c94 0%,#003071 50%,#001e63 100%);

			@include media('>=tablet') {
				padding: 15px 5%;
			}

			@include media('>=desktop') {
				font-size: 24px;
				line-height: 1;
				padding: 32px 5% 27px;
				letter-spacing: 1px;
			}
		}

		.box-wrap {
			padding: 15px 15px 15px 30px;
			color: #4cb6e8;
			font-size: 14px;

			@include media('>=tablet') {
				padding: 15px 5%;
			}

			@include media('>=desktop') {
				padding: 18px 30px 11px;
				letter-spacing: 0.8px;
				line-height: 18px;
			}
		}
	}

	@include media('>=desktop') {
		margin: 0 0 21px;
	}

	h3 {
		font-weight: 300;
		color: $white;
		font-size: 22px;
		padding: 10px 10px 10px 30px;
		margin: 0;
		background: linear-gradient(to right, #006097 0%,#00528c 25%,#003f7d 50%,#002b6e 75%,#001e63 100%);

		@include media('>=desktop') {
			font-size: 32px;
			font-weight: 100;
			letter-spacing: 1.7px;
			padding: 17px 10px 17px 30px;
		}
	}

	.box-wrap {
		padding: 26px 15px 26px 30px;

		@include media('>=desktop') {
			padding: 26px 15px 0 30px;
		}
	}

	h4 {
		font-size: 16px;
		color: #16395e;

		@include media('>=desktop') {
			margin: 0 0 21px 21px;
			letter-spacing: 0.8px;
		}
	}

	.side-list {
		@extend %listreset;
		color: #949494;

		> li {
			padding: 0 0 5px;

			&.active {
				color: #00508b;

				@include media('>=desktop') {
					padding: 0 0 9px;
				}

				> a {
					color: #00508b;
					padding: 0 3px 0 23px;
					&:before {
						background: #2fa9e3;
					}
				}
			}

			@include media('>=desktop') {
				padding: 0 0 21px;
			}
		}

		a {
			text-decoration: none;
			position: relative;
			padding: 0 5px 0 18px;
			color: #949494;

			&:before {
				@include size(7px);
				position: absolute;
				content: '';
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: #949494;
				border-radius: 2em;
			}

			&:hover {
				color: #00508b;

				&:before {
					background: #2fa9e3;
				}
			}

			@include media('>=desktop') {
				padding: 0 7px 0 23px;
			}
		}
	}

	.subside-list {
		@extend %listreset;
		color: #2fa9e3;
		padding: 0 0 0 20px;

		@include media('>=desktop') {
			padding: 8px 0 8px 28px;
		}

		li {
			padding: 0 0 5px;

			@include media('>=desktop') {
				padding: 0 0 1px;
			}
		}

		a {
			color: #2fa9e3;
			position: relative;
			padding: 0 3px 0 28px;

			&:before {
				@include size(7px);
				position: absolute;
				content: '';
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				background: #114a80;
				border-radius: 2em;
			}

			&:hover {
				color: #114a80;
				&:before {
					background: #2fa9e3;;
				}
			}
		}
	}

	.label-list {
		@extend %listreset;
		color: #2b5878;
		font-size: 14px;

		@include media('>=desktop') {
			padding: 0 0 23px 7px;
			letter-spacing: 0.7px;
		}

		li {
			padding: 0 0 9px;
		}

		a {
			color: #3294db;
			text-decoration: none;
			padding-right: 5px;

			&:hover {
				color: #949494;
			}
		}
	}
}

@keyframes load {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}