<footer id="footer">
	<div class="container">
		<div class="footer-box">
			<div class="logo"><a href="index.html"><img src="{{ site.baseurl }}/images/footer-logo.png" alt="evolute"></a></div>
		</div>
		<div class="list-box">
			<strong class="title">Evolute</strong>
			<ul>
				<li><a href="index.html">Get Started</a></li>
				<li><a href="about-us.html">Why Us?</a></li>
				<li><a href="about-us.html">Careers</a></li>
				<li><a href="about-us.html">About Us</a></li>
				<li><a href="blog.html">Blog</a></li>
			</ul>
		</div>
		<div class="list-box">
			<strong class="title">Solutions</strong>
			<ul>
				<li><a href="features.html">Features</a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="documentation.html">Docs</a></li>
			</ul>
		</div>
		<div class="search-box">
			<strong class="title">Connect</strong>
			<p>Subscribe to our monthly newsletter</p>
				<!--[if lte IE 8]>
				<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"><;;/script>
				<![endif]-->
				<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
				<script>
					hbspt.forms.create({ 
					portalId: '2159879',
					formId: '76496617-d2fb-43eb-93ba-cdcb31ca61ed'
					});
				</script>
			<ul class="social-networks">
				<li><a href="#"><i class="icons-twitter"></i></a></li>
				<li><a href="#"><i class="icons-facebook"></i></a></li>
				<li><a href="#"><i class="icons-linkedin"></i></a></li>
				<li><a href="#"><i class="icons-google-plus"></i></a></li>
				<li><a href="#"><i class="icons-youtube"></i></a></li>
				<li><a href="#"><i class="icons-slack"></i></a></li>
			</ul>
			<span class="copyright">© 2016 <a href="index.html">Evolute</a> All Rights Reserved.</span>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<strong class="question">Have a question? We would love to hear from you!</strong>
			<a href="mailto:&#105;&#110;&#102;&#111;&#064;&#101;&#118;&#111;&#108;&#117;&#116;&#101;&#046;&#105;&#111;" class="btn">contact us</a>
		</div>
	</div>
</footer>