<header id="header">
	<div class="container">
		<div class="logo"><a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/images/logo.png" alt="evolute"></a></div>
		<a href="#" class="nav-opener"><span></span></a>
		<nav class="mobile-drop">
			<ul id="nav">
				<li><a href="{{ site.baseurl }}/index.html">Get Started</a></li>
				<li><a href="{{ site.baseurl }}/features.html">Features</a></li>
				<li class="active"><a href="{{ site.baseurl }}/pricing.html">Pricng</a></li>
				<li><a href="{{ site.baseurl }}/documentation.html">Documentation</a></li>
				<li><a href="{{ site.baseurl }}/our-blog">Blog</a></li>
				<li><a href="{{ site.baseurl }}/about-us.html">About Us</a></li>
			</ul>
		</nav>
	</div>
</header>